<a class="
rounded-md border border-white/20 
flex justify-center items-center 
text-xl gap-x-2 py-1 px-3 bg-white/5 
hover:scale-105 hover:bg-white/10 transition"
{...Astro.props}
target="_blank"
rel="noopener noreferrer">
    <slot />
</a>