---
import Tecno from "./Tecno.astro";
import HtmlIcon from '@components/icons/Html.astro';
import CssIcon from '@components/icons/Css.astro';
import JavaScriptIcon from '@components/icons/JavaScript.astro';
import TailwindIcon from '@components/icons/Tailwind.astro';
import BootstrapIcon from '@components/icons/Bootstrap.astro';
import ReactIcon from '@components/icons/React.astro';
import AngularIcon from '@components/icons/Angular.astro';
import AstroIcon from '@components/icons/Astro.astro';
import SpringBootIcon from '@components/icons/SpringBoot.astro';
import DjangoIcon from '@components/icons/Django.astro';
import FlaskIcon from '@components/icons/Flask.astro';
import PHPIcon from '@components/icons/PHP.astro';
import LaravelIcon from '@components/icons/Laravel.astro';
import NodeJSIcon from '@components/icons/NodeJS.astro';
import FlutterIcon from '@components/icons/Flutter.astro';
import SwiftIcon from '@components/icons/Swift.astro';
import MySQLIcon from '@components/icons/MySQL.astro';
import PostgreSQLIcon from '@components/icons/PostgreSQL.astro';
import SQLServerIcon from '@components/icons/SQLServer.astro';
import SQLiteIcon from '@components/icons/SQLite.astro';
import FirebaseIcon from '@components/icons/Firebase.astro';
import MongoDBIcon from '@components/icons/MongoDB.astro';
import GitIcon from '@components/icons/Git.astro';
import GitHubIcon from '@components/icons/GitHub.astro';
import AWSIcon from '@components/icons/AWS.astro';
import FigmaIcon from '@components/icons/Figma.astro';
---

<h2>Frontend</h2>

<div class="flex rounded-md border border-white/20 items-center 
text-xl gap-x-2 py-3 px-3 bg-white/5 z-10 mt-2 mb-10">

<Tecno><HtmlIcon class="size-20" />HTML</Tecno>
<Tecno><CssIcon class="size-20" />CSS</Tecno>
<Tecno><JavaScriptIcon class="size-20" />JavaScript</Tecno>
<Tecno><BootstrapIcon class="size-20" />Bootstrap</Tecno>
<Tecno><ReactIcon class="size-20" />React</Tecno>
<Tecno><AngularIcon class="size-20" />Angular</Tecno>
<Tecno><TailwindIcon class="size-20" />Tailwind</Tecno>
<Tecno><AstroIcon class="size-20" />Astro</Tecno>

</div>

<h2>Backend</h2>

<div class="flex rounded-md border border-white/20 items-center 
text-xl gap-x-2 py-3 px-3 bg-white/5 z-10 mt-2 mb-10">
<Tecno><SpringBootIcon class="size-20" />Spring Boot</Tecno>
<Tecno><DjangoIcon class="size-20" />Django</Tecno>
<Tecno><FlaskIcon class="size-20" />Flask</Tecno>
<Tecno><PHPIcon class="size-20" />PHP</Tecno>
<Tecno><LaravelIcon class="size-20" />Laravel</Tecno>

</div>

<h2>Mobile</h2>

<div class="flex rounded-md border border-white/20 items-center 
text-xl gap-x-2 py-3 px-3 bg-white/5 z-10 mt-2 mb-10">
<Tecno><FlutterIcon class="size-20" />Flutter</Tecno>
<Tecno><SwiftIcon class="size-20" />Swift</Tecno>
</div>

<h2>Base de Datos</h2>

<div class="flex rounded-md border border-white/20 items-center 
text-xl gap-x-2 py-3 px-3 bg-white/5 z-10 mt-2 mb-10">
<Tecno><MySQLIcon class="size-20" />MySQL</Tecno>
<Tecno><PostgreSQLIcon class="size-20" />PostgreSQL</Tecno>
<Tecno><SQLServerIcon class="size-20" />SQL Server</Tecno>
<Tecno><SQLiteIcon class="size-20" />SQLite</Tecno>
<Tecno><FirebaseIcon class="size-20" />Firebase</Tecno>
<Tecno><MongoDBIcon class="size-20" />MongoDB</Tecno>
</div>

<h2>Tools</h2>

<div class="flex rounded-md border border-white/20 items-center 
text-xl gap-x-2 py-3 px-3 bg-white/5 z-10 mt-2 mb-10">
<Tecno><GitIcon class="size-20" />Git</Tecno>
<Tecno><GitHubIcon class="size-20" />GitHub</Tecno>
<Tecno><AWSIcon class="size-20" />AWS</Tecno>

</div>